<h1><%= @recipe.name %></h1>

<h2>Description:</h2>
<p><%= @recipe.description %></p>

<ul>
  <li>
    <%= link_to 'Back', recipes_path %>
  </li>
    <li><%= button_to "Delete", recipe_path(@recipe), :method => "delete" %></li>
</ul>
